.grid-container-one-one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid silver;
    /* grid-template-areas: 
    'zero zero one    two'
    'zero zero three  four'  ; */
}
/* .grid-pop-one{
    grid-area: zero;
    grid-row: span 2;
} */
.class-two-one-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas: 
    'one   two '
    'three four '; */
}
/* .grid-pop-two{
    grid-area: one;
} */
/* .grid-pop-three{
    grid-area: two;
} */
/* .grid-pop-four{
    grid-area: three;
} */
/* .grid-pop-five{
    grid-area: four;
} */
.gridimageone{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1px solid silver;
    border-top: none;
}
.grid-pop-two-one, .grid-pop-five-one{
    object-fit: cover;
}
.grid-pop-four-one, .grid-pop-five-one{
    border-bottom: none;
}
.grid-pop-three-one, .grid-pop-five-one{
    border-left: none;
}