.viewall-list{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
}
.heading-listing{
    border-bottom: 2px solid gray;
    padding: 20px;
    font-weight: bold;
}
.filter-test-bar{
    display: flex;
}